<div class="navigation-wrapper">
  <div class="site-name">
    <a href="/">{{ site.title }}</a>
  </div><!-- /.site-name -->
  
  <div class="top-navigation">		

  <div class="navigation" id="ontop">
    <ul class="menu">
      <li><a href="#">R Consulting</a></li>
      <li><a href="#">R Custom Solutions</a></li>
      <li><a href="#">Blog</a>
        <ul>
          <li><a href="#">R Tips & Tricks</a></li>
          <li><a href="#">Case Studies</a></li>
        </ul>
      <li><a href-="#">About Us</a>
        <ul>  
          <li><a href="#">Company Profile</a></li>
          <li><a href="#">Leadership</a></li>
          <li><a href="#">Giving Back</a></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
      </li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>

  </div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->

